
<i class="fa fa-circle-o-notch fa-spin" 
   style="font-size: 32px"
   *ngIf="isLoading"></i>

<button class="dropdown-item btn btn-sm btn-default" 
        style="cursor: pointer"
        *ngIf="!isLoading && !(user | async)?.isSignedIn"
        (click)="signIn()">
    Sign In
</button>

<div ngbDropdown class="d-inlineb-block" *ngIf="!isLoading && (user | async)?.isSignedIn">
    <img class="rounded-circle" 
        style="height: 32px; cursor: pointer" 
        [src]="(user | async)?.imageUrl"
        ngbDropdownToggle>

    <div class="dropdown-menu dropdown-menu-right">      

        <div class="dropdown-header text-center">
            <img class="rounded-circle img-fluid m-2" 
                style="height: 96px"
                [src]="(user | async)?.imageUrl">
            <div class="m-2">
                {{(user | async)?.firstName}} {{(user | async)?.lastName}}
            </div>
            <div class="m-2">
                {{(user | async)?.email}}
            </div>                

            <button class="btn btn-default m-2" 
                    style="cursor: pointer"
                    (click)="signOut()">
                Sign Out
            </button>
        </div>        
    </div>
</div>