<style>
  .fab-button {
    position: fixed; 
    bottom: 24px; 
    right: 24px; 
    border-radius: 28px; 
    height: 56px;
    width: 56px;    
    background-color: red;
    text-align: center;
    /*padding-top: 14px;*/
    color: white;
    font-weight: 400;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 2em;
    transition: box-shadow 0.15s ease-in-out;
  }

  .fab-button:hover {
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.4);
  }
</style>

<nav class="navbar fixed-top navbar-toggleable-xl navbar-light bg-faded" style="box-shadow: 0 2px 3px #eee">
  <a class="navbar-brand mr-auto" href="#">
    <i class="fa fa-filter" style="padding-right: 10px"></i>Brita Filters
  </a>
  <form class="form-inline">
    <user></user>
  </form>
</nav>

<div class="container-fluid" style="padding-top: 70px; padding-bottom: 15px;">
  <filter-list></filter-list>
</div>

<div class="fab-button">
  +
</div>