<style>
    .row {
        width: 100%;
        margin: -12px -20px;
    }

    div{
        margin: -12px 0 -13px;
        padding: 12px 12px 13px;
    }

    .col {
        flex-basis: auto;
        flex-grow: unset;
        width: auto;
    }

    .filter-criteria {
        flex-grow: 1;
        max-width: 80%;
        overflow: hidden;
    }
</style>

<div class="row">
    <div class="col filter-criteria">
        <span *ngIf="filter.criteria && filter.criteria.from">
            From: <email-list [emails]="filterCriteriaFrom"></email-list>
        </span>
        <span *ngIf="filter.criteria && filter.criteria.to">
            To: <email-list [emails]="filterCriteriaTo"></email-list>
        </span>        
        <span *ngIf="filter.criteria && filter.criteria.subject">
            Subject: {{filter.criteria.subject | json}}
        </span>
    </div>


    <div class="col bg-success text-white" *ngIf="filter.action && filter.action.forward">
        Forward: <email-list [emails]="filterActionForward"></email-list>
    </div>

    <div class="col bg-primary text-white" *ngIf="filter.action && filter.action.addLabelIds">
        Add: 
            <label *ngFor="let label of filter.action.addLabelIds" 
                [labelId]="label"></label>
    </div>

    <div class="col bg-danger text-white" *ngIf="filter.action && filter.action.removeLabelIds">
        Remove: 
            <label *ngFor="let label of filter.action.removeLabelIds" 
                [labelId]="label"></label>
    </div>


    <div class="col-1 bg-info text-white" *ngIf="filter.action && filter.action.skipInbox">
        Skip Inbox
    </div>


    <div class="col-1 bg-warning text-white" *ngIf="filter.action && filter.action.markAsRead">
        Mark as read
    </div>
</div>
